{% load static %}
{% load template_tags %}
<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CAMBIO</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>


<body>
  <div class="header">
    <h1>CAMBIO</h1>
  </div>

    <div class="row">
      <div class="column1">
        <div class="spacey">
        <p id="suggestions"><b>Suggestions for Use</b></p> 
        <ol>
          <li>Set the values in the boxes below.</li>
          <li>Enter a Scenario name.</li>
          <li>Click Add.</li>
          <li>To the right, make plot selections.</li>
          <li>Scroll down for more plots.</li>
        </ol>
      </div>
    </div>


        <!--Allow user to add a new scenario-->
        <p><b>Add a climate scenario:</b></p>
        <form action="/cambio/" method="GET">
          {% for name, disp_name in display_names.items %}
            <label for="{{name}}">{{disp_name}}</label>
            <input type="text" placeholder="{{inputs|get_item:name}}" id="{{name}}" name="{{name}}"><br>
          {% endfor %}
        <button type="submit" name="add_button" value="add" formaction="/cambio/">Add</button>
        <br>
        <!--</form>-->

        <!--Create drop-down list of previous added scenarios-->
        <br>
        <b>Climate Scenarios</b><br>
          {% for i, scenario_input in old_scenario_inputs.items %}
          <details>
          <summary>{{i}}</summary>
          <ul>
            {% for name, disp_name in display_names.items %}
              <li> {{disp_name}} = {{scenario_input|get_item:name}} </li>
            {% endfor %}
          </ul>
        </details>
        {% endfor %}

        <br>
        <!--Allow user to delete an existing scenario-->
        <b>Delete climate scenario:</b><br>
        <form action="/cambio/" method="GET">
        {% for scenario_id, plot_scenario in plot_scenario_choices %}
            <input type="checkbox" id="del_scenario{{scenario_id}}" name="del_scenario{{scenario_id}}" value="on">
          <label for="del_{{scenario_id}}">{{scenario_id}}</label>
          <br>
        {% endfor %}
        <button type="submit" name="delete_button" value="delete" formaction="/cambio/{{name}}">Delete</button>
        <!--</form>-->

        <br><br><br><br><br><br><br><br><br><br><br>
      </div>

      <form action="/cambio/" method="GET">

        <div class="graph_area" id="graph_area">
          <b>Scenarios to plot</b>
          <div>
            <!-- Checkboxes for scenarios to plot -->
            {% for scenario_id, plot_scenario in plot_scenario_choices %}
              {% if scenario_id in plot_scenario_ids %}
                <input type="checkbox" id="plot_scenario{{scenario_id}}" name="plot_scenario_{{scenario_id}}" value="on" checked>
              {% else %}
                <input type="checkbox" id="plot_scenario{{scenario_id}}" name="plot_scenario_{{scenario_id}}" value="on">
              {% endif %}
              <label for="plot_scenario_{{scenario_id}}">{{scenario_id}}</label>
            {% endfor %}          
            &nbsp; &nbsp;
            <button type="submit" value="Submit" formaction="/cambio/{{name}}">Update Plots</button>
          </div>

          <!-- Time series plots -->
          {% autoescape off %}
          {% for name, values in plot_divs.items %}
          <hr id="{{name}}">
            <!-- Checkboxes for variables to plot -->
            <section class="row">
              <div class="column-2a">
                {{values.plot}}
              </div>

              <div class="column-2b">
                <p class="space-above"><b>Variables to plot</b></p>
                {% for inp, disp in values.vars.items %}
                <p><label>
                {% if inp in values.selected_vars %}
                  <input type="checkbox" id="{{inp}}" name="{{inp}}" value="on" checked>
                {% else %}
                  <input type="checkbox" id="{{inp}}" name="{{inp}}" value="on">
                {% endif %}
                {{disp.0}}
                </label>
                </p>
              {% endfor %}
              <!-- Radio buttons for units to plot -->
                <br>
                <p><b>Units</b></p>
                {% for unit in values.units %}
                <p>
                  {% if unit == values.selected_unit %}
                  <input type="radio" id="climvarbutton-{{name}}-{{unit}}" name="{{name}}" value="{{unit}}" checked>
                {% else %}
                  <input type="radio" id="climvarbutton-{{name}}-{{unit}}" name="{{name}}" value="{{unit}}">
                {% endif %}
                  <label for="climvarbutton-{{name}}-{{unit}}">{{unit}}</label>
                </p>
                {% endfor %}
              <!-- Update individual plot -->
                <br>
                <p>
                  <button type="submit" value="Submit" formaction="/cambio/#{{name}}">Update Plot</button>
                </p>
              </div>


            </section>
          {% endfor %}
          {% endautoescape %}

        </div>
      </form>

    </div>


  <br> <br>
  &nbsp; The CAMBIO Climate model was created by Steven Neshyba at the University of Puget Sound.
  <br>
  &nbsp; This WebApp was developed by Penny Rowe and Daniel Neshyba-Rowe, Dec. 2022
  <br><br>
</body>

</html>
