{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CAMBIO</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<!--Template tags-->
{% load cambio_extras %}


<body>
  <div class="header">
    <h1>CAMBIO</h1>
  </div>

  <form action="/cambio/{{name}}" method="GET">
    <div class="row">
      <div class="column1">
        <b>Climate Scenario</b><br>
        <!--<div id="years" class="climate_variables">-->
            {% for scenario_input in scenario_inputs %}
            <details>
                <summary>See More</summary>
                This text will be hidden if your browser supports it.
            </details>
            {% endfor %}
      
            <label for="start_year">start year</label>
            {% if 'disp_year' in request.GET and request.GET.disp_year != ''%}
                <input type="text" placeholder="1800" id="start_year" name="start_year" value="{{request.GET.disp_year}}">
            {% else %}
                <input type="text" placeholder="Enter Year" id="disp_year" name="disp_year">
            {% endif %}
            <br>
            <label for="start_year">start year</label>
            <input type="text" placeholder="1750" id="start_year" name="start_year"><br>
            <label for="stop_year">ending year</label>
            <input type="text" placeholder="2200" id="stop_year" name="stop_year"><br>
            <label for="dtime">Time resolution</label>
            <input type="text" placeholder="1.0" id="dtime" name="dtime"><br> <!--time resolution (years) -->
            <label for="inv_time_constant">Inverse time constant</label>
            <input type="text" placeholder="0.025" id="inv_time_constant" name="inv_time_constant"><br>
            <label for="transition_year">Year of peak emissions</label>
            <input type="text" placeholder="2040" id="transition_year" name="transition_year"><br> <!-- # year to start decreasing CO2 -->
            <label for="transition_duration">Time to transition</label>
            <input type="text" placeholder="20" id="transition_duration" name="transition_duration"><br> <!--years over which to decrease co2  -->
            <label for="long_term_emissions">Long term emissions</label>
            <input type="text" placeholder="2" id="long_term_emissions" name="long_term_emissions"><br> <!--# ongoing carbon emissions after decarbonization  -->
            <b>Feedbacks</b><br>
            <label for="albedo_with_no_constraint">Contraint on albedo</label>
            <input type="text" placeholder="False" id="albedo_with_no_constraint" name="albedo_with_no_constraint"><br> <!-- -->
            <label for="albedo_feedback">Albedo feedback</label>
            <input type="text" placeholder="False" id="albedo_feedback" name="albedo_feedback"><br> <!-- -->
            <label for="temp_anomaly_feedback">Temperature feedback</label>
            <input type="text" placeholder="False" id="temp_anomaly_feedback" name="temp_anomaly_feedback"><br> <!-- -->
            <b>Noise</b><br>
            <label for="stochastic_C_atm">Turn on noise</label>
            <input type="text" placeholder="False" id="stochastic_C_atm" name="stochastic_C_atm"><br> <!-- -->
            <label for="stochastic_c_atm_std_dev">Noise level</label>
            <input type="text" placeholder="0.1 " id="stochastic_c_atm_std_dev" name="stochastic_c_atm_std_dev"> <br><!-- -->
            <b>Units</b><br>
            <label for="temp_units">Temperature Units</label>
            <input type="text" placeholder="F" id="temp_units" name="temp_units"><br> <!--# F, C, or K -->
            <label for="c_units">Carbon units</label>
            <input type="text" placeholder="GtC" id="c_units" name="c_units"><br> <!--GtC, GtCO2, atm  -->
            <label for="flux_type">Flux type</label>
            <input type="text" placeholder="/year" id="flux_type" name="flux_type"><br> <!-- # total, per year-->
            <label for="plot_flux_diffs">Plot flux difference</label>
            <input type="text" placeholder="True" id="plot_flux_diffs" name="plot_flux_diffs"><br> <!-- -->
            <button type="submit" value="Submit" formaction="/cambio/{{name}}#scenario-buttons-display">Submit</button>


        <!--</div>-->

        <!--Use the form to choose the desired scenarios for the selected climate variable
            Loop over climate variables first, then create a form for each that allows the user
            to select a set of scenarios. id is, e.g. scenarioatmos_co2-3
            url is, e.g. http://127.0.0.1:8000/cambio/ocean_co2?scenario3=on&scenario4=on -->
        <div id="scenario-buttons-top">
            {% if climateinputs %}
                {% for inp in climateinputs %}
                    {% if "scenario"|addstr:inp.scenario in request.GET %}
                        <input class="scenario-buttons" type="checkbox" id="scenario{{name}}-{{inp.scenario}}"
                        name="scenario{{inp.scenario}}" value="on" checked>
                    {% else %}
                        <input type="checkbox" id="scenario{{name}}-{{inp.scenario}}" name="scenario{{inp.scenario}}" value="on">
                    {% endif %}
                    <label for="scenario{{name}}-{{inp.scenario}}">
                    Scenario{{inp.scenario}}: {{inp.start_year}}, {{inp.decarb_period}}, {{inp.final_emiss}}</label><br>
                {% endfor %}
                <input type="submit" value="Submit" class="top_submit_button">
            {% else %}
                <p>No scenarios are available.</p>
            {% endif %}
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

            
      <!--Text above the top of the plot, if any -->
      <div id="climate-variables-top" class="climate_variables">
      </div>

      <div class="graph_area" id="graph_area">
        <!-- Time series figure -->
        <!-- Django uses double brackets to render Python variables passed by the views to the templates. -->
        {% autoescape off %}
        {{ plot_div1 }}
        {{ plot_div2 }}
        {{ plot_div3 }}
        {{ plot_div4 }}
        {% endautoescape %}
      </div>

    </div>

    <div class="row">
      <div class="column1">
        <h3>Climate Scenario</h3>
        <div id="scenario-buttons-display" class="scenario-buttons">
            {% if climateinputs %}
                {% for inpd in climateinputs %}
                    {% if 'disp_scenario' in request.GET and request.GET.disp_scenario|add:0 == inpd.scenario %}
                        <input type="radio" id="disp-scenario{{inpd.scenario}}" name="disp_scenario" value="{{inpd.scenario}}" checked>
                    {% else %}
                        <input type="radio" id="disp-scenario{{inpd.scenario}}" name="disp_scenario" value="{{inpd.scenario}}">
                    {% endif %}
                        <label for="disp-scenario{{inpd.scenario}}">Scenario {{inpd.scenario}}</label><br>
                {% endfor %}
                <button type="submit" value="Submit" formaction="/cambio/{{name}}#scenario-buttons-display">Submit </button>
            {% else %}
                <p>No scenarios are available.</p>
            {% endif %}
            <br><br>
        </div>

      </div>


    </div>


  </form>

  <br> <br> 
  &nbsp; The CAMBIO Climate model was made by Professor Steven Neshyba at the University of Puget Sound. 
  <br>
  &nbsp; This WebApp was created by Penny Rowe, Dec. 2022
  <br><br>
</body>

</html>